.blog{
    .comment{
        position: relative;
        padding-bottom: 3rem;
        padding-top: 3rem;
        border-bottom: 1px solid #fff ;
        p{
            padding-bottom: initial;
            &:first-child{
                padding-bottom: 1rem;
                font-weight: bold;
            }
            &:not(:first-child){
                text-transform: uppercase;
                letter-spacing: 0.3em;
            }
        }
    }
}