.contact-sec{
    iframe{
        width: 100%;
    }
    form{
        padding: 3rem;
        .fields{
            width: 100%;
            border: none;
            outline: none;
            background-color: #d2bbbb;
            border-bottom: 1px solid#000;
            margin-bottom: 2rem;
            &::placeholder{
                color: #000;
                letter-spacing: 0.3em;
            }
        }
        input[type=submit]{
            width: 100%;
            outline: none;
            padding: 1rem 3rem;
            background-color: #d2bbbb;
            border: 1px solid #000;
        }
    }
}