@media (min-width: 576px) { 
    .main-header {
        font-size: 2rem;
    }
 }
@media (min-width:768px){
    .hamberger{
        display: none !important;
    }
    .nav-bar{
        justify-content: space-between;
        ul{
            position: initial !important;
            height: auto !important;
            flex-direction: row-reverse !important;
            background-color: transparent !important;
            justify-content: flex-end !important;
            width: auto !important;
            
        }
    }
}
header{
    height: 100vh;
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 100;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.7;
        z-index: -1;
    }
    .hamberger{
        position: fixed;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        top: 5px;
        right: 10px;
        border: 3px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        &.active{
            >.bar{
                &::after{
                    bottom: 0;
                }
                &::before{
                    top: 0;
                }
            }
            +.nav-bar{
                ul{
                    left: 0;
                }
            }
        }
        .bar{
            position: relative;
            height: 3px;
            width: 20px;
            background-color: #fff;
            &::after,
            &::before{
                content: '';
                position: absolute;
                background-color: #fff;
                height: 3px;
                width: 20px;
            }
            &::before{
                top: 5px;
            }
            &::after{
                bottom: 5px;
            }
        }
    }
    .nav-bar{
        display: flex;
        background-color: rgba(31, 30, 30, 0.61);
        h2{
            border-radius: 5px;
            padding: 15px;
        }
        ul{
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: black;
            position: fixed;
            left: 100%;
            top: 0;
            z-index: 1;
            overflow-x: hidden;
            max-width: 100%;
            transition: left 1s ease;
            li{
                list-style: none;
                display: inline-block;
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0 10px;
                    font-size: 1.3rem;
                    font-weight: lighter;
                    &:hover{
                        color : $main-color;
                    }
                }
            }
        }
        
    }
    .main-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1{
            text-transform: capitalize;
            font-weight: 900;
            margin-bottom: 10px;
            position: relative;
            color: transparent;
            animation: text-hid .5s ease forwards;
            &::after{
                content: '';
                width: 0%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: $main-color;
                animation: layer 1s ease forwards;
            }
            &:nth-child(1){
                animation-delay: .5s;
                &::after{
                    animation-delay: .5s;
                }
            }
            &:nth-child(2){
                animation-delay: 1.5s;
                &::after{
                    animation-delay: 1.5s;
                }
            }
            &:nth-child(3){
                animation-delay: 2.5s;
                &::after{
                    animation-delay: 2.5s;
                }
            }
            span{
                font-weight: lighter;
            }
        }
        a{
            font-size: 1.4rem;
            display: inline-block;
            margin-top: 20px;
            border: 1px solid $main-color;
            text-decoration: none;
            padding: 10px 30px;
            text-transform: uppercase;
            transition: background-color 0.3s ease-in;
            &:hover {
                font-weight: lighter;
                background-color: red;
            }
        }
    }
}
@keyframes layer {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
@keyframes text-hid{
    100%{
        color: white;
    }
}

